.workshops-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.workshops-list::after {
    content: "";
    flex: 0 0 31.5%;
}

.workshops-list-item {
    flex-basis: 100%;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 1em 0;
    text-decoration: none;
    color: initial;
}

.workshops-list-item:hover {
    box-shadow: 0px 0px 2px 2px rgb( 218, 165, 31, 0.5 );
}

.workshops-list-item .item-details {
    font-size: 0.9em;
}

/* desktop */
@media ( min-width : 992px ) {
    .workshops-list-item {
        flex-basis: 31.5%;
    }
}