<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>v-model for form inputs</title>
        <style>
            body {
                width: 80%;
                max-width: 1280px;
                margin: 0 auto;
                text-align: center;
            }

            .form-group {
                margin: 1em 0;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>

        <script type="module">
            import Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.esm.browser.min.js";

            /**
             * v-model can be used ONLY on input, select, textarea
             * v-model implements the 2-way data-binding feature by adding an 'input' event listener on the input, and sets the input node's value when the corresponding data changes.
             * 
             * EXERCISE: Write a method that sets username to a hardcoded value. Have the method called on a button click, and note the input value changes.
             */
            const vm = new Vue({
                el: '#root',
                data: {
                    credentials: {
                        username: 'johndoe',
                        password: ''
                    }
                },
                methods: {
                    changeName() {
                        this.username = ( this.username === 'johndoe' ? 'janedoe' : 'johndoe' );
                    },
                    login( event ) {
                        // event.preventDefault(); // prevents browser from submitting the form
                        console.log( event );

                        // this has to be submitted to the backend
                        console.log( this.credentials );
                    }
                },
                template: `
                    <div>
                        <h1>Login</h1>
                        <hr />
                        <!-- <form @submit.prevent="login( $event )"> -->
                        <form @submit.prevent="login">
                            <div class="form-group">
                                <div>
                                    <label for="username">Username</label>
                                </div>
                                <input type="text" id="username" v-model="credentials.username" />
                                <!-- {{username}} -->
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="password">Password</label>
                                </div>
                                <input type="password" id="password" v-model="credentials.password" />
                                <!-- {{password}} -->
                            </div>
                            <button type="button" @click="changeName()">Change name</button>
                            <button type="submit">Login</button>
                        </form>
                    </div>
                `
            });

            console.log( vm );
        </script>
    </body>
</html>
