<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>v-for for list iteration</title>
        <style>
            .locations > li {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>

        <script type="module">
            import Vue from "https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.esm.browser.min.js";

            /**
             * EXERCISE: Use v-for to construct a dropdown with cities in the options. The value and display text of every option to the city's name.
             */
            new Vue({
                el: '#root',
                data: {
                    cities: [
                        { name: 'Bengaluru', num: 50 },
                        { name: 'Kolkata', num: 100 },
                        { name: 'Mumbai', num: 500, selected: true },
                        { name: 'Noida', num: 250 }
                    ],
                    location: {
                        name: '',
                        num: 0
                    }
                },
                methods: {
                    addLocation() {
                        // let us copy the location object
                        // location = { ...this.location } -> { name: this.location.name, num: this.location.num }
                        const location = {
                            ...this.location
                        };

                        this.cities.push( location );
                    },
                    deleteLocation( cityToBeDeleted ) {
                        console.log( cityToBeDeleted );

                        // approach # 1 - filter()
                        const newCities = this.cities.filter( 
                            ( city ) => city.name !== cityToBeDeleted.name
                        );

                        this.cities = newCities;

                        // approach # 2 - findIndex() + splice()
                    }
                },
                template: `
                    <div>
                        <h1>Fynd | Office locations</h1>
                        <ol class="locations">
                            <li v-for="city in cities">
                                <strong>{{city.name}}</strong> - {{city.num}}
                                <button @click="deleteLocation( city )">Delete</button>
                            </li>
                        </ol>
                        <select>
                            <option value="">-- Select your preferred location --</option>
                            <option
                                v-for="city in cities"
                                :value="city.name"
                                :selected="city.selected"
                            >
                                    {{city.name}}
                            </option>
                        </select>
                        <hr />
                        <h2>Add a new location</h2>
                        <form @submit.prevent="addLocation">
                            <input
                                type="text"
                                placeholder="New location"
                                v-model="location.name"
                            />
                            <input
                                type="number"
                                placeholder="Number of employees"
                                v-model="location.num"
                            />
                            <button type="submit">Add location</button>
                        </form>
                    </div>
                `
            });
        </script>
    </body>
</html>
