<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Vue Demo Template</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
            .value {
                display: inline-block;
                width: 30px;
                text-align: center;
            }

            .change-amount {
                width: 64px;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>

        <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.js"></script>

        <script type="module">
            import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.esm.browser.js';
            import Vuex from 'https://cdn.jsdelivr.net/npm/vuex@3.6.2/dist/vuex.esm.browser.js';

            function fetchWorkshops() {
                return axios.get( `https://workshops-server.herokuapp.com/workshops` )
                            .then( response => response.data );
            }

            Vue.use( Vuex );


            // Define a store
            // Add appropriate state properties
            // Add necessary mutations (that accept payload)
            // Add an action, say fetchWorkshops, that fetches workshops and returns a promise
            const store = new Vuex.Store({
                state: {
                    workshops: [],
                    error: null,
                    loading: false
                },
                mutations: {
                    setLoading( state, payload ) {
                        console.log( 'payload = ', payload );

                        state.loading = payload.loading;
                    },
                    setWorkshops( state, payload ) {
                        state.workshops = payload.workshops;
                    },
                    setError( state, payload ) {
                        state.error = payload.error;
                    }
                },
                actions: {
                    async fetchWorkshops( { commit } ) {
                        // object form of commiting mutation
                        commit({
                            type: 'setLoading', // name of the mutation
                            loading: true 
                        });

                        try {
                            const workshops = await fetchWorkshops();
                            commit({
                                type: 'setWorkshops',
                                // workshops: workshops
                                workshops
                            });
                        } catch( error ) {
                            commit({
                                type: 'setError',
                                error
                            });
                        } finally {
                            commit({
                                type: 'setLoading',
                                loading: false
                            });
                        }
                    }
                }
            })

            const WorkshopsList = {
                template: `
                    <div>
                        <h1>List of workshops</h1>
                        <hr />
                        <div class="alert alert-info" role="alert" v-if="processing">
                            <strong>We are fetching workshops...Hang on!</strong>
                        </div>
                        <div v-else>
                            
                            <!-- Setup binding to show error message on error / workshops on success -->
                            
                            <div class="alert alert-danger" role="alert" v-if="error">
                                <strong>{{error.message}}</strong>
                            </div>
                            <ul class="list-group" v-else>
                                <li class="list-group-item clearfix" v-for="workshop in workshops" :key="workshop.id">
                                    {{workshop.name}}
                                    <div class="float-right">
                                        <!-- Set style using the available() helper --> 
                                        <span class="badge" :class="available( workshop, 'online' )">Online</span>
                                        <span class="badge" :class="available( workshop, 'inPerson' )">In-person</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                `,
                
                // Set up computed properties
                computed: {
                    processing() {
                        return store.state.loading;
                    },
                    error() {
                        return store.state.error;
                    },
                    workshops() {
                        return store.state.workshops;
                    }
                },
                
                // Helper method for styling the mode display of a workshop
                methods: {
                    available( workshop, mode ) {
                        return {
                            'badge-success': workshop.modes[mode],
                            'badge-secondary': !workshop.modes[mode]
                        }
                    }
                },
                
                mounted() {
                    console.log( 'mounted : ', document.querySelector( '.alert' ) ); // null
                    
                    // Dispatch fetchWorkshops action -> log on success and error
                    store.dispatch({
                        type: 'fetchWorkshops'
                    });
                },

                // this lifecycle method is called before the component shows up
                created() {
                    console.log( 'created : ', document.querySelector( '.alert' ) ); // null
                }
            };

            new Vue({
                el: '#app',
                components: {
                    WorkshopsList
                },
                template: `
                    <div id="app" class="container my-4">
                        <WorkshopsList />
                    </div>
                `,
            });
        </script>
    </body>
</html>